.timers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 25px;
  background-color: rgb(134, 0, 0);
}

.timer__count {
  margin-right: 5px;
}
